input, ul, li, a, form, textarea {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
}
body {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
}
a {
    color: inherit;
}

.header-container {
    height: 300px;
    /*background: linear-gradient(-30deg, lightblue, #3eb3a5);*/
    background: url("/static/blog/img/head.png");
    background-size: contain;
}

.header-container .col-left {
    float: left;
    width: 50%;
    height: 100%;
}
.header-container .col-left .row-top {
    height: 40%;
    background-repeat: no-repeat;
    background-image:
            url("/static/blog/img/html.svg"),
            url("/static/blog/img/css-3.svg"),
            url("/static/blog/img/java-script.svg"),
            url("/static/blog/img/python.svg"),
            url("/static/blog/img/linux-logo.svg");
    background-size: 55px;
    background-position: 10px, 70px, 130px, 190px, 250px;
    opacity: 0.35;
}
.header-container .col-left .row-bottom {
    height: 60%;
    position: relative;
}
.header-container .col-left .text-logo{
    position: absolute;
    bottom: -5px;
    left: 10px;
    font-family: 'Audiowide', cursive;
    font-size: 5.2em;
    color: rgba(0, 0, 0, 0.55);
    text-shadow: 0 0 6px -2px #34495e;
}
.header-container .col-left .text-logo:hover{
    color: rgba(0, 0, 0, 0.65);
}

.header-container .col-right {
    float: right;
    width: 50%;
    height: 100%;
    position: relative;
}
.header-container .col-right .right-logo {
    background: url("/static/blog/img/black-evil-cat.svg") 90% 50% no-repeat;
    background-size: 270px;
    opacity: 0.65;
    width: 100%;
    height: 100%;

}
.header-container .col-right .right-logo:active{
    transition: all ease-out 150s;
    transform: rotate(-7214deg);
}

.header-container .col-right .admin-panel {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    right: 15px;
    z-index: 200;
    padding: 5px 15px 2px 15px;
}
.header-container .col-right .admin-panel .admin-info {
    box-shadow: 0 1px 0 0 black;
    margin-bottom: 10px;
    padding: 10px 0 5px 0;
}
.header-container .col-right .admin-panel .admin-info i {
    color: #0009;
}
.header-container .col-right .admin-panel .admin-buttons a {
    display: inline-block;
    color: #0009;
}
.header-container .col-right .admin-panel .admin-buttons a + a {
    margin-left: 5px;
}
.header-container .col-right .admin-panel .admin-buttons a.draft-list {
    position: relative;
}
.header-container .col-right a.login-link{
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 100px;
    padding: 8px 6px 6px 7px;
    color: rgba(239, 242, 245, 0.9);
    background: #9fa2a5;
}

a.login-link:focus .hvr-icon,
a.login-link:active .hvr-icon,
a.logout-link:active .hvr-icon,
a.logout-link:active .hvr-icon {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

.header-container .col-right .admin-buttons span.counter {
    position: absolute;
    z-index: 500;
    top: -7px;
    right: -9px;
    padding: 0px 6px 1px 7px;
    border-radius: 100px;
    background: tomato;
    font-family: "Open Sans";
    font-size: 11pt;
    font-style: normal;
    font-weight: 400;
    color: white;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.top-menu {
    width: 50%;
    float: left;
}
.top-menu > ul {
    padding: 0;
    margin: 0;
}
.top-menu.left > ul {
    float: right;
}
.top-menu.right > ul {
    float: left;
}
.top-menu > ul li {
    display: inline-block;
}
.top-menu.left > ul > li:last-of-type{
    margin-right: 106px;
}
.top-menu.right > ul > li:first-of-type{
    margin-left: 106px;
}
.top-menu ul li a,
.submenubutton{
    display: block;
    padding: 18px 22px;
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'Anonymous Pro', monospace;
    color: #bcbcbc;
    cursor: pointer;
}
.submenubutton i {
    margin-left: 5px;
}
.top-menu .arrow {
    font-size:0.55em;
    margin-left: 5px;
}
.top-menu ul li a:hover,
.submenubutton:hover,
.submenubutton:focus {
    color: #3eb3a5;
    text-shadow: 0 1px #bcbcbc66;
}
.top-menu a {
    transition: color ease-in 0.2s;
}
.top-menu li.have-submenu{
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    z-index: 200;
    top: 62px;
}
.submenubutton:focus + .sub-menu,
.submenubutton + .sub-menu:focus,
.submenubutton:hover + .sub-menu,
.submenubutton + .sub-menu:hover{
    display: block;
}

.sub-menu ul li {
    display: block;
}
.sub-menu ul li a {
    padding: 5px 22px;
    font-size: 1.3em;
}
.sub-menu ul li a:hover {
    background: #3eb3a5;
    color: white;
    box-shadow:0 2px 2px rgba(0,0,0,0.2);

}

.round-logo-layout {
    position: relative;
    margin-bottom: 100px;
    border-bottom: solid 2px #dfdfdf;
}
.round-logo {
    position: absolute;
    left: 50%;
    top: -139px;
    width: 212px;
    height: 212px;
    margin-left: -106px;
    border-radius: 50%;
    background: url("/static/blog/img/man.svg") no-repeat;
    box-sizing: border-box;
    border: 10px solid white;
    box-shadow: 0 0 6px 0 #343434;
}
.round-logo:active {
    transition: all ease-out 5s;
    transform: rotate(-7214deg);
}

.greeting-top {
    display: block;
    margin-bottom: 75px;
}
.greeting-top .intro {
    /*position: relative;*/
    /*top: 85px;*/
    text-align: center;
    color: #bcbcbc;
    font-size: 1.3em;
    font-family: 'Anonymous Pro', monospace;
}
.greeting-top span {
    box-shadow: 0 16px 0 -15px #bcbcbc;
    padding-bottom: 10px;
}

.main-content {
    font-family: 'Open Sans', sans-serif;
    min-width: 320px;
    max-width: 740px;
    margin: 0 auto;
    color: #bcbcbc;
}

.post-container .post-col-left{
    float: left;
}
.post-container .post-col-right{
    float: left;
    max-width: 600px;
}

.post-col-right .post-info {
    height: 35px;
    position: relative;
    border-bottom: 1px solid #ebebeb;
}

.post-col-left .date-circle {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 7px solid #ebebeb;
    top: -40px;
    text-align: center;
    /*box-shadow: 0 0 6px -2px #34495e;*/
}
.post-col-left .circle-date-layout {
    display: table;
    height: 100%;
    width: 100%;
}
.post-col-left .date-circle span {
    display: table-cell;
    vertical-align: middle;
    font-size: 34px;
    font-weight: bold;
    color: #3eb3a5;
}

.post-info .indicator {
    font-size: 0.95em;
    display: inline-block;
    padding: 6px 2px 4px 10px;
    color: #000;
}
.post-info .indicator:first-of-type {
    padding-left: 8px;
}
.post-info .indicator + .indicator {
    border-left: 1px solid #ebebeb;
}
.post-info .indicator i {
    color: #3EB3A5;
    margin-right: 5px;
}
.post-info .indicator:first-of-type i {
    color: #bebebe;
}
.post-info .category a {
    color: #3eb3a5;
}
.post-info .indicator a:hover {
    color: #FF6347;
}

article {
    color: black;
    font-weight: normal;
    line-height: 140%;
    word-wrap: break-word;
    margin-bottom: 35px;
}
article pre {
    white-space: pre-wrap;
}
article header h1{
    color: #000;
}
article header h1 a:hover{
    color: #eb6d4a;
}
article header h1 a.admin {
    vertical-align: baseline;
    height: 1em;
    width: 1em;
    display: inline-block;
}
article header h1 a.admin {
    margin-left: 5px;
}
article a.read-more {
    display: inline-block;
    color: #3eb3a5;
    font-size: 1.1em;
    box-shadow: 0 1px 0 0 #bcbcbc;
    font-weight: bold;
    margin-top: 15px;
}
article a.read-more:hover {
    color: #eb6d4a;
}
article a {
    color: #3eb3a5;
}
article a:hover {
    color: #FF6347;
}
article a.article-header{
    color: black;
    line-height: normal;
}
article a.article-header:hover {
    color: #FF6347;
}
article ul{
    display: block;
    padding-left: 40px;
}
article.news {
    line-height: normal;
}
article.news a.to-git {
    display: inline-block;
    color: #3eb3a5;
    color: rgba(0, 0, 0, 0.75);
    font-size: 1.1em;
    box-shadow: 0 1px 0 0 #bcbcbc;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
}
article.news a.to-git svg{
    position: relative;
    bottom: -3px;
    fill: #3eb3a5;
}
article.info,
article.news {
    max-width: 600px;
    margin: 0 auto;
}

.news-separator{
    height: 1px;
    box-sizing: border-box;
    background: linear-gradient(to right, #ebebeb 70%, white 70%, white 100%) repeat-x;
    background-size: 40px 1px;
    margin-top: 1.5em;
}

.main-content .post-container.teaser:after {
    display: block;
    content: "";
    height: 1px;
    box-sizing: border-box;
    background: linear-gradient(to right, #ebebeb 70%, white 70%, white 100%) repeat-x;
    background-size: 40px 1px;
    margin-bottom: 110px;
}
.main-content .post-container.teaser:last-of-type:after {
    margin-bottom: 0;
    background: none;
}
button,
.genbutton, input[type='submit'] {
    border: none;
    display: block;
    background: #3eb3a5;
    color: white;
    border-radius: 3px;
    font-size: 1em;
    /*font-weight: bold;*/
    box-shadow: 0 0 6px -2px #34495e;
}

.pagination {
    margin-top: -100px;
    margin-bottom: 30px;

    /*width: 100%;*/
    /*padding: 5px 10px;*/
    /*width: 100%;*/
    /*text-align: center;*/
    color: black;
    /*font-size: 22px;*/
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: row;*/
    /*justify-content: center;*/


}
.pagination > .full{
    width: 100%;
}
.pagination > .half {
    width: 50%;
}
.pagination > div:hover a{
    border-color: tomato;
}
.pagination .previous_page a,
.pagination .next_page a {
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    /*width: 100%;*/
    border: 3px solid #3eb3a5;
    box-sizing: border-box;

}
.pagination .half.previous_page a{
    border-right: none;
}
.pagination .half.next_page a{
    border-left: none;
}

.content-footer {
    width: 100%;
    /*height: 100px;*/
    /*background: linear-gradient(-30deg, lightblue, #3eb3a5);*/
    background: url("/static/blog/img/head.png");
    background-size: cover;
}
.content-footer .footer-layout {
    margin: 0 auto;
    max-width: 740px;
    /*background: tomato;*/
    /*opacity: 0.3;*/
}
.content-footer .footer-menu ul {
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.content-footer .footer-menu ul li a{
    display: block;
    margin: 0 8px;
    font-family: "Open Sans";
    font-size: 1.1em;
    box-shadow: 0 1px 0 0 #bcbcbc;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.55);

}
.content-footer .footer-menu ul li a:hover{
    color: #3EB3A5;
}.content-footer .footer-menu ul li a.text-logo:hover{
     color: #FF6347;
 }
.content-footer .footer-menu a.text-logo {
    font-family: 'Audiowide', cursive;
    font-size: 3em;
    text-shadow: 0 0 6px -2px #34495e;
    margin: 0;
    margin-right: 10px;
    box-shadow: none;
}
.content-footer .powered-list:before {
    display: block;
    content: "Сайт разработан с помощью и поддержкой:";
    font-family: 'Open Sans';
    font-size: 0.9em;
    color: #34495e;
    padding: 5px 0 10px 0;
}
.content-footer .powered-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-footer .powered-list ul li a{
    display: block;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}
.content-footer .powered-list ul li a.nginx{
    background-image: url("/static/blog/img/NGINX-logo.png");
    width: 120px;
}
.content-footer .powered-list ul li a.django {
    background-image: url("/static/blog/img/django-logo-positive.png");
    width: 87px;
}
.content-footer .powered-list ul li a.digitalocean {
    background-image: url("/static/blog/img/DO_Logo_Horizontal_Blue.png");
    width: 180px;
}
.content-footer .powered-list ul li a.icons-design {
    background-image: url("/static/blog/img/freepik_logo.png");
    width: 120px;
}
.content-footer .powered-list {
    padding-bottom: 10px;
}

/* Single article */
.post-container.single .article-content {
    margin-bottom: 30px;
}

.article-tags {
    margin-top: 25px;

}
.article-tags span {
    font-size: 1.1em;
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 15px;

}
article a.tag{
    display: inline-block;
    color: #3eb3a5;
    margin-right: 5px;
}
article a.tag:last-of-type{
    margin-right: 0;
}
article a.tag:hover {
    opacity: 1;
    color: tomato;
}

.article-author {
    float: right;
}
.article-author a{
    color: #3eb3a5;
}

.article-bottom {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 35px;
}
.article-bottom .layout {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    /*height: 48px;*/
    height: 57px;
    color: black;
    margin: 10px 0 0 0;
    font-size: 18pt;
    position: relative;
    border-bottom: 1px solid #ebebeb;
}
.article-bottom .layout > div > span.counter {
    position: relative;
    top: 0;
}
.article-bottom .layout > div + div {
    margin-left: 36px;
    display: inline-block;
    position: relative;
    top: -5px;
}
.article-bottom .layout i {
    color: #3EB3A5;
}

.article-bottom .layout .like-button-wrapper {
    width: 60px;
    background: white;
    z-index: 100;
    margin-right: 15px;
}
.article-bottom .layout .like-button-wrapper .like-button {
    position: absolute;
    top: -7px;
    left: 0;
}
.article-bottom .layout .like-button-wrapper .like-button .favourite_text span {
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10pt;
    position: relative;
    top: -10px;
}
.article-bottom .layout .like-button-wrapper .like-counter {
    font-size: 18pt;
    position: relative;
    left: 65px;
    top: -5px;
}

.article-bottom .layout .comments-counter-wrapper .comment-counter {
    margin-left: 20px;
}

.article-bottom .layout .next-post {
    display: block;
    padding: 14px 5px;
    background: #3eb3a5;
    color: white;
    border-radius: 3px;
    font-size: 10pt;
    position: absolute;
    right: 0;
    top: 0;
}
.article-bottom .layout .next-post i {
    color: white;
}
.article-bottom .layout .next-post:hover {
    background: #FF6347;
}
.article-bottom .layout .next-post:focus {
    background: #FF6347;
}
.article-bottom .layout .next-post:active {
    background: #FF6347;
    transform: scale(0.95);
}

.article-bottom .related-posts {
    border-bottom: 2px solid #ebebeb;
    display: flex;
    flex-direction: column;
}
.article-bottom .related-posts .related-post:not(:last-of-type) {
    border-bottom: 1px solid #ebebeb;
}
.article-bottom .related-posts .related-post {
    padding: 15px 0;
}
.article-bottom .related-posts .related-post a {
    color: #3EB3A5;
}
.article-bottom .related-posts .related-post a:hover {
    color: #FF6347;
}
/* End Single article */
.main-content form.login-form {
    box-sizing: border-box;
    width: 100%;
    background: rgba(69, 179, 164, 0.14);
    color: black;
    border-radius: 7px;
    box-shadow: 0 0 6px -2px #34495e;
    padding: 15px;
    font-size: 1.1em;
    margin-bottom: 100px;
}
/* Post edit form */
form.post-edit{
    background: rgba(69, 179, 164, 0.14);
    padding: 15px 25px;
    margin-bottom: 15px;
}
form.post-edit p{
    width: 100%;
    margin: 10px auto;
}
form.post-edit input#id_title{
    width: 100%;
    display: block;
}
form.post-edit input {
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}
form.post-edit select {
    width: 100%;
}
form.post-edit label {
    display: block;
    color: #000;
    margin-bottom: 5px;
}
form.post-edit select#id_tags option{
    padding: 5px;
}
form.post-edit button {
    display: inline-block;
    border: none;
    color: #6f7173;
    border-radius: 0 0 0 3px;
    -webkit-border-radius: 0 0 0 3px;
    -moz-border-radius: 0 0 0 3px;
    width: auto;
    height: auto;
    font-size: 16px;
    padding: 10px 40px;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient(to left, #FDE8E8, #D4EBF7);
    background-color: #3EB3A5;
}

/* Login form */

form.login-form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
}


/* Comment write */
#disqus_thread {
    margin: 0 8px 50px;
}
.writecomment-container {
    border-bottom: 2px solid #ebebeb;
    margin-bottom: 10px;
}
form.writecomment {
    color: #ccc;
    max-width: 335px;
    margin: 0 auto;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
form.writecomment #id_author,
form.writecomment #id_email {
    box-sizing: border-box;
    height: 40px;
    padding: 0 8px;
    border-radius: 7px;
    background: rgba(69, 179, 164, 0.14);
    margin-bottom: 18px;
    box-shadow: 0 0 6px -2px #34495e;
    font-family: inherit;
}
form.writecomment #id_author {
    margin-right: 10px;
    width: 140px;
}
form.writecomment #id_email {
    width: 180px;
}
form.writecomment textarea {
    resize: vertical;
    box-sizing: border-box;
    background: rgba(69, 179, 164, 0.14);
    border-radius: 7px;
    padding: 10px 8px;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    box-shadow: 0 0 6px -2px #34495e;
    font-family: inherit;
    outline: none;
    overflow: auto;
}
form.writecomment input.comment-submit{
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 35px;
    margin-top: 22px;
    cursor: pointer;
}
form.writecomment input.comment-submit:hover {
    background: #FF6347;
}

form.writecomment label{
    position: absolute;
    color: #bcbcbc;
    font-weight: bold;
    top: 8px;
}
form.writecomment label[for="id_author"]{
    left: -131px;
}
form.writecomment label[for="id_email"]{
    right: -233px;
}
form.writecomment label[for="id_text"]{
    top: 68px;
    left: -302px;
}
form.writecomment label[for="submit-comment"] {
    top: 384px;
    left: 98px;
    color: white;
    cursor: pointer;
}
form.writecomment input::placeholder,
textarea::placeholder {
    opacity: 0.2;
}

.g-recaptcha {
    transform:scale(1.115);
    transform-origin:0 0;
}



/* End comment write */
.main-content .login-form,
.main-content .form-error {
    max-width: 400px;
    margin: 0 auto 100px;
}
.main-content .form-error {
    margin-top: 0;
    margin-bottom: 0;
}
.main-content .login-form .errorlist {
    font-size: 0.8em;
    list-style: none;
    color: #b3514b;
}
.main-content .login-form input[type="submit"] {
    display: block;
    max-width: 100px;
    margin: 30px auto 0;
}
/* Article comments */
.comment-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
}
.comment-container .comment-col-left {
    margin-right: 20px;
    flex-grow: 0;
}
.comment-container .comment-col-right {
    flex-grow: 3;
}
.comment-container .comment-col-left .commentator-portrait {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-image: url("/static/blog/img/commentator-icon-1.png");
    background-size: 130px;
    border: 1px solid #ebebeb;
}
.comment-container .comment-col-left .commentator-portrait.second {
    background-image: url("/static/blog/img/commentator-icon-2.jpg");
    background-size: 230px;
    background-position-y: center;
    background-position-x: center;

}
.comment-container .comment-col-left .commentator-portrait.third{
    background-image: url("/static/blog/img/commentator-icon-3.png");
    /*background-size: 230px;*/
    background-position-y: top;
    background-position-x: center;
}
.comment-container .comment-col-right .comment-info{
    margin-top: 53px;
    margin-bottom: 10px;
}
.comment-container .comment-col-right .comment-info .admin-buttons{
    margin-left: 0.3em;
}
.comment-container .comment-col-right .comment-info a{
    font-size: 1.3em;
    color: #3eb3a5;
}

.comment-container .comment-col-right .comment-info .admin-buttons a{
    height: 1em;
    width: 1em;
    display: inline-block;
    opacity: 0.7;
}
.comment-container .comment-col-right .comment-info .admin-buttons a:hover {
    color: #FF6347;
}

.comment-container .comment-col-right .comment-text {
    background: #ebebeb;
    border-radius: 7px;
    padding: 5px 15px;
    margin-bottom: 10px;
}
.comment-container .comment-col-right a.comment-reply {
    color: #3eb3a5;
    font-size: 0.9rem;
}
.comments-container .no_comments {
    text-align: center;
    color: #000;
    font-size: 1.2em;
}

/* Icon Pulse Grow */
.hvr-icon {
    cursor: pointer;
}
@-webkit-keyframes hvr-icon-pulse-grow {
    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}
@keyframes hvr-icon-pulse-grow {
    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}
.hvr-icon-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-pulse-grow .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-icon-pulse-grow:hover .hvr-icon, .hvr-icon-pulse-grow:focus .hvr-icon, .hvr-icon-pulse-grow:active .hvr-icon {
    -webkit-animation-name: hvr-icon-pulse-grow;
    animation-name: hvr-icon-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
/* Icon Hang */
@-webkit-keyframes hvr-icon-hang {
    0% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@keyframes hvr-icon-hang {
    0% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}
.hvr-icon-hang {
    /*display: inline-block;*/
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-icon-hang .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.hvr-icon-hang:hover .hvr-icon, .hvr-icon-hang:focus .hvr-icon, .hvr-icon-hang:active .hvr-icon {
    -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}
/* Icon Shrink */
.hvr-icon-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-icon-shrink .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-icon-shrink:hover .hvr-icon, .hvr-icon-shrink:focus .hvr-icon, .hvr-icon-shrink:active .hvr-icon {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
/* Push */
@-webkit-keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.hvr-push {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@media screen and (max-width: 1366px) {
    .header-container {
        height: 212px;
    }
    .header-container .col-right .right-logo {
        background-size: 195px;
    }
    .header-container .col-left .row-top {
        background-position: 10px, 65px, 120px, 175px, 230px;
        background-size: 45px;
    }
    .main-content .post-container.teaser:after {
        margin-bottom: 70px;
    }
}
@media screen and (max-width: 1280px) {
    body {
        font-size: 15px;
    }
    .hljs {
        font-size: 13px;
    }
    .header-container {
        height: 150px;
        background-size: cover;
    }
    .header-container .col-left .row-top {
        background-position: 10px, 50px, 90px, 130px, 170px;
        background-size: 35px;
    }
    .header-container .col-left .text-logo{
        font-size: 4em;
    }
    .header-container .col-right .right-logo {
        background: url("/static/blog/img/black-evil-cat.svg") 90% 50% no-repeat;
        background-size: 135px;
    }
    .header-container .col-right .admin-buttons {
        bottom: 5px;
        font-size: 1.6em;
    }
    .round-logo {
        top: -70px;
        width: 106px;
        height: 106px;
        margin-left: -53px;
        border-width: 5px;
    }
    .top-menu.left > ul > li:last-of-type {
        margin-right: 53px;
    }
    .top-menu.right > ul > li:first-of-type {
        margin-left: 53px;
    }
    .top-menu ul li a,
    .submenubutton {
        padding: 11px 18px;
        font-size: 1.4em;
    }
    .sub-menu {
        top: 44px;
    }
    .sub-menu ul li a {
        padding: 8px 18px;
        font-size: 1.1em;
    }

    .greeting-top {
        margin-bottom: 45px;
    }
    .greeting-top span{
        box-shadow: 0 15px 0 -14px #bcbcbc;
        line-height: 180%;
    }
    .round-logo-layout {
        margin-bottom: 50px;
    }
    .post-col-left .date-circle {
        width: 100px;
        height: 100px;
        top: -16px;
        border-width: 6px;
    }
    .post-col-left .date-circle span {
        font-size: 23px;
        top: 28%;
    }
    form.writecomment label{
        position: static;
        display: block;
        margin-bottom: 5px;
    }
    form.writecomment #id_author,
    form.writecomment #id_email,
    form.writecomment textarea,
    form.writecomment label,
    form.writecomment input.comment-submit,
    nav.article-bottom{
        width: 95%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .g-recaptcha {
        margin-left: 8px;
        transform:scale(1.064);
    }
}
@media screen and (max-width: 740px){
    body {
        font-size: 14px;
    }
    .header-container .col-left .text-logo{
        font-size: 3em;
    }
    .round-logo {
        top: -50px;
        width: 76px;
        height: 76px;
        margin-left: -38px;
        border: 2px solid white;
    }
    .round-logo-layout {
        margin-bottom: 23px;
    }
    .greeting-top {
        margin-bottom: 15px;
    }
    .greeting-top span{
        box-shadow: 0 14px 0 -13px #bcbcbc;
        line-height: 180%;
    }
    .post-container .post-col-left {
        display: none;
    }
    .post-container .post-col-right {
        float: none;
        margin: 0 auto;
    }
    .post-info .indicator:first-of-type{
        padding-left: 0;
    }
    .top-menu.left > ul > li:last-of-type {
        margin-right: 35px;
    }
    .top-menu.right > ul > li:first-of-type {
        margin-left: 35px;
    }
    .top-menu ul li a,
    .submenubutton {
        padding: 6px 12px;
        font-size: 1.1em;
    }
    .sub-menu ul li a {
        padding: 6px 12px;
        font-size: 1em;
        background: #FFFFFF;
        opacity: 0.8;
    }
    .sub-menu {
        top: 28px;
    }
    .main-content .post-container.teaser:after {
        margin-bottom: 25px;
    }
    article{
        margin-bottom: 25px;
    }
    .article-bottom {
        margin-bottom: 10px;
    }
    .article-bottom .layout .next-post {
        display: none;
    }
    .article-bottom .layout .next-post::after {
        display: block;
        content: "";
        width: 100%;
        padding: 0 5px;
        position: relative;
        border-bottom: 2px solid #ebebeb;
        bottom: -28px;
        left: -5px;
    }
    .content-footer .footer-layout {
        padding: 0 8px;
    }
    .content-footer .footer-menu a.text-logo{
        font-size: 2em;
    }
    .content-footer .footer-menu ul{
        margin-bottom: 5px;
    }
    .comment-container .comment-col-left .commentator-portrait{
        width: 100px;
        height: 100px;
        background-size: 100px;
    }
    .comment-container .comment-col-right .comment-info {
        margin-top: 0;
    }
}
@media screen and (max-width: 600px) {
    body {
        font-size: 13px;
    }
    .header-container {
        height: 90px;
    }
    .header-container .col-left .text-logo{
        font-size: 2.1em;
    }
    .header-container .col-left .row-top {
        background-position: 5px 5px, 35px 5px, 65px 5px, 95px 5px, 125px 5px;
        background-size: 25px;
    }
    .header-container .col-right .right-logo {
        background-size: 85px;
    }
    .header-container .col-right .admin-buttons span.counter {
        padding: 1px 6px 1px 6px;
        font-size: 9pt;
    }
    .top-menu {
        font-size: 9px;
    }
    .top-menu ul li a,
    .submenubutton {
        padding: 8px 3px;
        font-size: 1.7em;
    }
    .sub-menu ul li a {
        padding: 8px 3px;
        font-size: 1.4em;
    }
    .sub-menu {
        top: 32px;
        background: #fff;
        border: 1px solid #dfdfdf;
        opacity: 1;
    }
    .sub-menu ul li:first-of-type {
        border-width: 1px;
    }
    .top-menu.left > ul > li:last-of-type {
        margin-right: 0;
    }
    .top-menu.right > ul > li:first-of-type {
        margin-left: 0;
    }
    .round-logo {
        display: none;
    }
    .round-logo-layout {
        margin-bottom: 0;
        border-width: 1px;
    }
    .greeting-top span{
        font-size: 13px;
    }
    .post-container .post-col-right{
        margin: 0 8px;
    }
    .post-col-right .post-info {
        height: auto;
    }
    .post-info .indicator {
        padding: 2px 3px 2px 3px;
        font-size: 0.80em;
    }
    .post-info .comments {
        padding-left: 5px;
    }
    .content-footer .footer-menu ul li a {
        font-size: 10px;
        margin-right: 3px;
    }
    .content-footer .footer-menu ul li a:last-of-type {
        margin-right: 0;
    }
    .content-footer .footer-menu a.text-logo{
        font-size: 20px;
    }
    .content-footer .powered-list ul {
        justify-content: flex-start;
    }
    .content-footer .powered-list::before {
        font-size: 0.8em;
    }
    .content-footer .powered-list ul li:not(:last-of-type){
        margin-right: 8px;
    }
    .content-footer .powered-list ul li a.nginx {
        width: 60px;
    }
    .content-footer .powered-list ul li a.digitalocean {
        width: 90px;
    }
    .content-footer .powered-list ul li a.django {
        width: 43px;
    }
    .content-footer .powered-list ul li a.icons-design {
        width: 60px;
    }

    .article-bottom .info .layout .next-post {
        padding: 8px;
        font-size: 0.8rem;
        margin-top: 4px;
    }
}
@media screen and (max-width: 400px) {
    .content-footer .footer-menu a.text-logo{
        font-size: 13px;
        margin-right: 0;
    }
}