<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Cat Media{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "blog/css/head.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tinos&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:700&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
    <header class="page-header clearfix">
        <div class="header-container clearfix preview">
            <div class="col-left">
                <div class="row-top"></div>
                <div class="row-bottom">
                    <div class="text-logo"><a href="{% url 'blog:home' %}">Cat media</a></div>
                </div>
            </div>
            <div class="col-right">
                {% if user.is_authenticated %}
                <div class="admin-buttons">
                    <a href="{% url 'blog:create-post' %}" title="Создать публикацию"
                       class="add-post"></a>
                    <a href="{% url 'blog:post-draft-list' %}" title="Ожидающие публикации"
                       class="draft-list"></a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="clearfix">
        <nav class="top-menu left">
            <ul>
                {% for menuitem in menu_left_list %}
                    <li>
                        <a href="#">{{ menuitem }}
                            {% if menuitem.submenu.first %}<span class="arrow">&#9660;</span>{% endif %}
                        </a>
                        {% if menuitem.submenu.first %}
                            <nav class="sub-menu">
                                    <ul>
                                        {% for item in menuitem.submenu.all %}
                                            <li><a href="{% url 'blog:by-category' item.slug %}">{{ item }}</a></li>
                                        {% endfor %}
                                    </ul>
                            </nav>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <nav class="top-menu right">
            <ul>
                {% for menuitem in menu_right_list %}
                    <li>
                        <a href="#">{{ menuitem }}
                            {% if menuitem.submenu.first %}<span class="arrow">&#9660;</span>{% endif %}
                        </a>
                        {% if menuitem.submenu.first %}
                            <nav class="sub-menu">
                                    <ul>
                                        {% for item in menuitem.submenu.all %}
                                            <li><a href="{% url 'blog:by-category' item.slug %}">{{ item }}</a></li>
                                        {% endfor %}
                                    </ul>
                            </nav>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
        </div>
        <div class="round-logo-layout">
            <div class="round-logo"></div>
        </div>
        <section class="greeting-top">
            <div class="intro"><span>{% block breadcrumbs %}cледуй за нами{% endblock %}</span></div>
        </section>
    </header>
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="content-footer">
        <div class="copyright-footer">
            <a href="#">Copyright by Luigy</a>
        </div>
    </footer>
</body>
</html>