<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Cat Media{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "blog/css/head.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro&amp;subset=cyrillic" rel="stylesheet">
    {#   reCAPTCHA    start #}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {#   reCAPTCHA    end   #}
    {# start CKEDITOR plugin: codesnippet > highlight.js #}
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {# end CKEDITOR plugin: codesnippet > highlight.js #}
</head>
<body>
    <header class="page-header clearfix">
        <div class="header-container clearfix">
            <div class="col-left">
                <div class="row-top"></div>
                <div class="row-bottom">
                    <div class="text-logo"><a href="{% url 'blog:home' %}">Cat media</a></div>
                </div>
            </div>
            <div class="col-right">
            <div class="right-logo"></div>
                <div class="admin-buttons">
                    {% if user.is_authenticated %}
                    <a href="{% url 'blog:create-post' %}" title="Создать публикацию"
                       class="add-post"></a>
                        {% if drafted_posts_count > 0 %}
                        <a
                                href="{% url 'blog:post-draft-list' %}"
                                title="Ожидающие публикации - {{ drafted_posts_count }}"
                                class="draft-list">
                        </a>
                        {% endif %}

                    <a href="{% url 'logout' %}" title="Выйти из учетной записи"
                       class="logout-link"></a>
                    {% else %}
                    <a href="{% url 'login' %}" title="Войти с учетной записью"
                       class="login-link"></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="top-menu-container clearfix">
        <nav class="top-menu left">
            <ul>
                <li>
                    <a href="{% url 'blog:home' %}">Главная</a>
                </li>
                <li class="have-submenu">
                    <div class="submenubutton " tabindex="-1">Разделы<span class="arrow">&#9660;</span></div>
                    <nav class="sub-menu" tabindex="-1">
                        <ul>
                            {% for item in category_list %}
                            <li><a href="{% url 'blog:by-category' item.slug %}">{{ item }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </li>
            </ul>
        </nav>
        <nav class="top-menu right">
            <ul>
                <li><a href="{% url 'blog:news' %}">Новости</a></li>
                <li>
                    <a href="{% url 'blog:about' %}">О проекте</a>
                </li>
            </ul>
        </nav>
        </div>
        <div class="round-logo-layout">
            <div class="round-logo"></div>
        </div>
        <section class="greeting-top">
            <div class="intro"><span>{% block breadcrumbs %}cледуй за нами{% endblock %}</span></div>
        </section>
    </header>
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="content-footer">
        <div class="footer-layout">
            <nav class="footer-menu">
                <ul>
                    <li><a class="text-logo" href="{% url 'blog:home' %}">Cat media</a></li>
                    {% for item in category_list %}
                    <li><a href="{% url 'blog:by-category' item.slug %}">{{ item }}</a></li>
                    {% endfor %}
                    <li><a href="{% url 'blog:news' %}">Новости</a></li>
                    <li><a href="{% url 'blog:about' %}">О проекте</a></li>
                </ul>
            </nav>
            <nav class="powered-list">
            <ul>
                    <li><a class="nginx" href="https://nginx.org/ru/"></a></li>
                    <li><a class="django" href="https://www.djangoproject.com/"></a></li>
                    <li><a class="digitalocean" href="http://gunicorn.org/"></a></li>
                    <li><a class="icons-design" href="https://www.freepik.com/"></a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>