<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Cat Media{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "blog/css/head.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/hover.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/like.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro&amp;subset=cyrillic" rel="stylesheet">
    {#  start  https://fontawesome.com #}
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    {#  end  https://fontawesome.com #}
    {#   reCAPTCHA    start #}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {#   reCAPTCHA    end   #}
    {# start CKEDITOR plugin: codesnippet > highlight.js #}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {# end CKEDITOR plugin: codesnippet > highlight.js #}
    {# JQuery start #}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    {# JQuery end #}
</head>
<body>
<header class="page-header clearfix">
    <div class="header-container clearfix">
        <div class="col-right">
            {% if user.is_authenticated %}
                {% include 'blog/header_admin_panel.html' %}
            {% else %}
                <div class="right-logo"></div>
                <a href="{% url 'login' %}" title="Войти с учетной записью"
                   class="login-link hvr-icon-pulse-grow">
                    <i class="fas fa-sign-in-alt fa-lg hvr-icon"></i>
                </a>
            {% endif %}
        </div>
        <div class="col-left">
            <div class="row-top"></div>
            <div class="row-bottom">
                <div class="text-logo"><a class="hvr-skew" href="{% url 'blog:home' %}">Cat media</a></div>
            </div>
        </div>
    </div>
    <div class="top-menu-container clearfix">
        <nav class="top-menu left">
            <ul>
                <li>
                    <a class="hvr-push" href="{% url 'blog:home' %}">Главная</a>
                </li>
                <li class="have-submenu">
                    <div class="submenubutton hvr-icon-hang" tabindex="-1">
                        Разделы<i class="fas fa-angle-down fa-xs hvr-icon"></i>
                    </div>
                    <nav class="sub-menu" tabindex="-1">
                        <ul>
                            {% for item in category_list %}
                                <li><a class="hvr-push" href="{% url 'blog:by-category' item.slug %}">{{ item }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </li>
            </ul>
        </nav>
        <nav class="top-menu right">
            <ul>
                <li><a class="hvr-push" href="{% url 'blog:news' %}">Новости</a></li>
                <li>
                    <a class="hvr-push" href="{% url 'blog:about' %}">О проекте</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="round-logo-layout">
        <div class="round-logo"></div>
    </div>
    <section class="greeting-top">
        <div class="intro"><span>{% block breadcrumbs %}cледуй за нами{% endblock %}</span></div>
    </section>
</header>
<main class="main-content">
    {% block content %}
    {% endblock %}
</main>
<footer class="content-footer">
    <div class="footer-layout">
        <nav class="footer-menu">
            <ul>
                <li><a class="text-logo hvr-push" href="{% url 'blog:home' %}">Cat media</a></li>
                {% for item in category_list %}
                    <li><a class="hvr-push" href="{% url 'blog:by-category' item.slug %}">{{ item }}</a></li>
                {% endfor %}
                <li><a class="hvr-push" href="{% url 'blog:news' %}">Новости</a></li>
                <li><a class="hvr-push" href="{% url 'blog:about' %}">О проекте</a></li>
            </ul>
        </nav>
        <nav class="powered-list">
            <ul>
                <li><a class="nginx hvr-push" href="https://nginx.org/ru/"></a></li>
                <li><a class="django hvr-push" href="https://www.djangoproject.com/"></a></li>
                <li><a class="digitalocean hvr-push" href="http://gunicorn.org/"></a></li>
                <li><a class="icons-design hvr-push" href="https://www.freepik.com/"></a></li>
            </ul>
        </nav>
    </div>
</footer>
<script id="dsq-count-scr" src="//catmedia.disqus.com/count.js" async></script>
</body>
</html>