<div class="comment-container">
    <div class="comment-col-left">
        <div class="commentator-portrait"></div>
    </div>
    <div class="comment-col-right">
        <div class="comment-info">
            <a href="#">{{ comment.author }}</a>
            <span>@</span>
            <span class="datetime">{{ comment.created_date|date:"G:i d.m.y" }}</span>
            <span class="admin-buttons">
                {% if user.is_authenticated %}
                    {% if not comment.approved_comment %}
                        <a title="Подтвердить комментарий"
                           href="{% url 'blog:comment_approve' comment.pk %}"
                           class="admin approve-comment hvr-push">
                        <i class="fas fa-check"></i>
                        </a>
                    {% endif %}
                    <a title="Удалить комментарий"
                       href="{% url 'blog:comment_remove' comment.pk %}"
                       class="admin remove-comment hvr-push">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                {% endif %}
            </span>
        </div>
        <div class="comment-text">{{ comment.text|linebreaks }}</div>
        <a href ="#" class="comment-reply hvr-push">Ответить</a>
    </div>
</div>