{% extends 'blog/base.html' %}
{% block title %}
    {{ block.super }} -
    {% if type %}
        {{ model_attribute.name }}
    {% else %}
        главная
    {% endif %}
{% endblock %}
{% block breadcrumbs %}
    {% if type %}
        {{ type.lower }}: {{ model_attribute.name}} | публикаций - {{ model_attribute.get_related_posts.count }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block content %}
    {% for post in object_list %}
        {% include 'blog/post-teaser.html' %}
    {% endfor %}
    {% include 'blog/post-paginator.html' %}
{% endblock %}
