{% extends 'blog/post-base.html' %}
{% block article_body %}
    <section class="article-content">
        {{ post.text|linebreaks }}
    </section>
    <section class="article-author">
        Автор: <a title="Все публикации - {{ post.pseudo.name }}"
           href="{% url 'blog:by-author' post.pseudo.slug %}">{{ post.pseudo.name }}</a>
    </section>
{% endblock %}
{% block article_footer %}
{#    <footer class="article-tags{{ style }}">#}
{#        <span>#ТЭГИ: </span>#}
{#            {% for tag in post.tags.all %}#}
{#                <a href="{% url 'blog:by-tag' tag.slug %}">#{{ tag.name|lower }}</a>#}
{#                {% if tag.pk != post.tags.all.last.pk %},{% endif %}#}
{#            {% endfor %}#}
{#    </footer>#}
{% endblock %}