<div class="post-container clearfix {% block separator_style %}{% endblock %}">
    <aside class="post-col-left">
            <div class="date-circle">
                <div class="circle-date-layout">
                    <span>{{ post.pub_date|date:"d M" }}</span>
                </div>
            </div>
    </aside>
    <div class="post-col-right">
        <div class="post-info">
            <div class="category indicator">
                <span>Раздел: </span>
                <a class="category-name" title="Перейти к разделу - {{ post.category.name.lower }}"
                   href="{% url 'blog:by-category' post.category.slug %}">{{ post.category.name.capitalize }}</a>
            </div>
            {% if post.likes %}
            <div class="likes indicator">
                <div class="indicator-icon-heart"></div>
                <span class="likes-counter">{{ post.likes }}</span>
            </div>
            {% endif %}
            {% if post.get_approved_comments.last %}
            <div class="comments indicator">
                <div class="indicator-icon-comment"></div>
                <span class="comment-counter">{{ post.get_approved_comments.count }}</span>
            </div>
            {% endif %}
            {% if post.get_drafted_comments.first and user.is_authenticated %}
                <div class="comments indicator">
                    <div class="indicator-icon-comment"></div>
                    <span class="comment-counter"></span>
                    <span>{{ post.get_drafted_comments.count }} ожидают</span>
                </div>
            {% endif %}
        </div>
        <article>
            <header>
                <h1>
                    <a class="article-header" title="Читать полностью - {{ post.title|truncatechars:"30" }}"
                            href="{% url 'blog:article-detail' post.slug %}#top">{{ post.title }}</a>
                    {% if user.is_authenticated %}
                    <a title="Редактировать публикацию"
                       href="{% url 'blog:article-edit' post.slug %}" class="admin edit-post"></a>
                    <a title="Удалить публикацию"
                            href="{% url 'blog:article-remove' post.slug %}" class="admin remove-post"></a>
                    {% endif %}
                </h1>
            </header>
            {% block article_body %}
            {% endblock %}
        </article>
    </div>
</div>