{% extends 'blog/base.html' %}
{% block title %}{{ block.super }} - {{ post.title }}{% endblock %}
{% block breadcrumbs %}<a href="#" name="top"></a>{{ post.category.name }}: {{ post.title }}{% endblock %}
{% block content %}
    {% include 'blog/post-single.html' %}
    <nav class="article-bottom">
        <div class="info">
            <div class="layout">
                <a class="article-vote" href="{% url 'blog:article-vote' post.slug %}">
                    {% if post.likes %}
                        {{ post.likes }}
                    {% else %}
                        <span>Лайк!</span>
                    {% endif %}
                </a>
                {% if post.get_approved_comments.first %}
                    <span class="comments">{{ post.get_approved_comments.count }}</span>
                {% endif %}
                {% if post.pub_date %}
                    {% if post.get_next_by_create_date.is_published %}
                    <a class="next-post" href="{{ post.get_next_by_create_date.get_absolute_url }}"
                    title="{{ post.get_next_by_create_date.title }}">
                    Следующая запись >
                    </a>
                    {% endif %}
                {% else %}
                    Создан: {{ post.create_date|date:"j E H:i" }}
                    <a href="{% url 'blog:publish-post' slug=post.slug %}" title="{{ datetime.now }}">
                    Опубликовать сейчас
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="writecomment-container">
        <form class="writecomment clearfix" id="writecomment" action="" method="post">
            {% csrf_token %}
            <label for="id_author" class="forname">Как вас зовут?</label>
            <input id="id_author" name="author" maxlength="200" required placeholder="Онуфрий">
            <label for="id_email" class="foremail">Мы не украдем ваш E-mail<br>(и никому не покажем)</label>
            <input id="id_email" name="email" type="email" maxlength="254" placeholder="otec.onufree@gmail.com" required>
            <label for="id_text" class="forcomment-field">Напишите хороший комментарий</label>
            <textarea id="id_text" name="text" maxlength="5000" required
                      placeholder="Я вас категорически приветствую..."></textarea>
            <input type="submit" class="comment-submit genbutton" value="Отправить">
        </form>
    </div>
    <div class="comments-container">
        {% for comment in post.get_comments %}
            {% if user.is_authenticated or comment.approved_comment %}
                {% include 'blog/comment.html' %}
            {% endif %}
        {% empty %}
            <p class="no_comments">Ваш комментарий будет первым!</p>
        {% endfor %}
    </div>
{% endblock %}