{% extends 'blog/base.html' %}
{% block jquery %}
    <script>
        $(document).ready(function(){

            function updateText(btn, counter, newText){
                counter.text(newText);
                btn.attr("data-likes", newText)
            }

            var likeButton = $("#click");
            if (!likeButton[0].hasAttribute('readonly')) {
                $(".like-button .favourite").hover(
                    function() {
                        $(".like-button ~ .like-counter").css('opacity', '0');
                    },
                    function() {
                        $(".like-button ~ .like-counter").css('opacity', '1');
                    }
                );

                likeButton.click(function () {
                    var this_ = $(this);
                    var likeUrl = this_.attr("data-href");
                    var likeCount = this_.attr("data-likes");
                    var counter = $("span.like-counter");

                    $.ajax({
                        method: "GET",
                        url: likeUrl,
                        data: {},
                        success: function (data) {
                            if (data.liked) {
                                {#    add like   #}
                                var newText = parseInt(likeCount) + 1;
                                updateText(this_, counter, newText)
                            }
                            console.log("Success, post liked");
                            console.log(data)
                        },
                        error: function (error) {
                            console.log(error);
                            console.log("Error while liking post")
                        }
                    });

                    this_.attr({
                        "readonly" : "",
                        "disabled" : ""
                    });

                    $(".like-button ~ .like-counter").css('opacity', '1');
                    $(".like-button .favourite").unbind('mouseenter mouseleave')
                });

            }
        })
    </script>
{% endblock %}
{% block title %}{{ block.super }} - {{ post.title }}{% endblock %}
{% block breadcrumbs %}{{ post.category.name }}: {{ post.title }}{% endblock %}
{% block content %}
    {% include 'blog/post-single.html' %}
    <nav class="article-bottom">
        <div class="layout">
            {% include 'blog/single__like-button.html' %}
            {% if not disqus_enabled %}
                <div class="comments-counter-wrapper">
                    <i class="fas fa-comments fa-lg"></i>
                    <span class="counter">
                    {{ post.get_approved_comments.count }}
                </span>
                </div>
            {% endif %}
            {% if post.published %}
                {% if post.get_next_by_create_date.published %}
                    <a class="next-post hvr-push hvr-icon-forward" href="{{ post.get_next_by_create_date.get_absolute_url }}"
                       title="">
                        {{ post.get_next_by_create_date.title }}
                        <i class="fas fa-arrow-circle-right fa-lg hvr-icon"></i>
                    </a>
                {% endif %}
            {% elif user.is_authenticated %}
                <a class="next-post hvr-push" href="{% url 'blog:publish-post' slug=post.slug %}"
                   title="">
                    В ленту!
                    <i class="far fa-calendar-check fa-lg"></i>
                </a>
            {% endif %}
        </div>
        {% for post in post.get_related_posts %}
            <div class="related-posts">
                <div class="related-post"><a href="{{ post.get_absolute_url }}" title="">{{ post.title }}</a></div>
            </div>
        {% endfor %}
    </nav>
    {% if disqus_enabled %}
        {% include 'blog/disqus_comments.html' %}
    {% else %}
        <div class="writecomment-container">
            <form class="writecomment clearfix" id="writecomment" action="" method="post">
                {% csrf_token %}
                <label for="id_author" class="forname">Как вас зовут?</label>
                <input id="id_author" name="author" maxlength="200" required placeholder="Онуфрий">
                <label for="id_email" class="foremail">Мы не украдем ваш E-mail<br>(и никому не покажем)</label>
                <input id="id_email" name="email" type="email" maxlength="254" placeholder="otec.onufree@gmail.com" required>
                <label for="id_text" class="forcomment-field">Напишите хороший комментарий</label>
                <textarea id="id_text" name="text" maxlength="5000" required
                          placeholder="Я вас категорически приветствую..."></textarea>
                {# reCAPTCHA button #}
                <div class="g-recaptcha" data-sitekey="6LcaHVoUAAAAAAAGWYb5r4830nRVMi6tvy2Xcon_"></div>
                <input id="submit-comment" type="submit" class="comment-submit genbutton hvr-push" value="Отправить">
                <label for="submit-comment"><i class="fas fa-share-square"></i></label>
            </form>
        </div>
        <div class="comments-container">
            {% for comment in post.get_comments %}
                {% if user.is_authenticated or comment.approved_comment %}
                    {% include 'blog/comment.html' %}
                {% endif %}
            {% empty %}
                <p class="no_comments">Ваш комментарий будет первым!</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}